@font-face {
  font-family: "RobotoSlab";
  src: url("../../Assets/Fonts/RobotoSlab.ttf");
}

* {
  font-family: "RobotoSlab";
  margin: 0;
  
}

body {
  margin: auto;
  padding: 0;
}

.dashboard {
  width: 100%;
  background-color: crimson;
  min-height: 100vh;

  position: relative;

  border-radius: 20px;
  margin: auto;

  border-left: 2px solid black;
  border-right: 2px solid black;
}

.footer {
  height: 10vh;
  background-color: blue;
  margin: auto;
  width: 100%;

  position: sticky;
  bottom: 0;
  left: 0;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.sidebar {
  min-height: 80vh;
  left: 0;
  background-color: purple;

  border-radius: 30px;
  border: 2px solid black;
}

.sidebar-title {
  width: 100%;
  background-color: aliceblue;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: 1px solid black;
}

.header {
  height: 10vh;
}

.header-title {
  font-family: "RobotoSlab";
  background-color: aliceblue;
  width: 50%;
  margin: auto;
  border-radius: 20px;

  border: 2px solid black;
}

.header-navbar {
  font-family: "RobotoSlab";
  background-color: aliceblue;
  width: 85%;
  margin: auto;
  border: 3px solid black;
}

.link {
  background-color: lightblue;
  border: 3px solid black;
  width: 20%;
  margin: auto;

  border-bottom-right-radius: 14px;
  text-decoration-color: black;
  font-size: 1.33em;
}

.content {
  min-height: 80vh;
  background-color: orange;
  border-radius: 20px;
  border: 3px solid black;
}

.footer-title {
  background-color: aliceblue;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.footer {
  min-height: 15vh;

  border: 4px solid black;
}

.sidebar-content {
  border: 1px solid black;
  margin: auto;
  margin-top: 0.4em;
  background-color: aliceblue;
  min-height: 10vh;

  width: 95%;
}

.desktop-2kplus {
  margin-left: 20em;
  margin-right: 20em;
}

.desktop-1080 {
  margin-left: 15em;
  margin-right: 15em;
}

.content-header{
  border-bottom: 3px solid black;
  width: 50%;
  margin: auto;
}


.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}