@font-face {
  font-family: "RobotoSlab";
  src: url("../../Assets/Fonts/RobotoSlab.ttf");
}

* {
  font-family: "RobotoSlab";
  margin: 0;
}

body {
  margin: auto;
  padding: 0;
}

.dashboard {
  width: 100%;
  background-color: crimson;
  height: 100vh;

  position: relative;

  border-radius: 20px;
  margin: auto;
}

.footer {
  height: 10vh;
  background-color: blue;
  margin: auto;
  width: 100%;

  position: sticky;
  bottom: 0;
  left: 0;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.sidebar {
  min-height: 80vh;
  left: 0;
  background-color: purple;

  border-radius: 30px;
}

.sidebar-title {
  width: 100%;
  background-color: aliceblue;
}

.header {
  height: 10vh;
}

.header-title {
  font-family: "RobotoSlab";
  background-color: aliceblue;
  width: 50%;
  margin: auto;
  border-radius: 20px;
}

.header-navbar {
  font-family: "RobotoSlab";
  background-color: blanchedalmond;
  width: 75%;
  margin: auto;
  border: 3px solid black;
}

.link {
  background-color: beige;
  border: 3px solid black;
  width: 75%;
  margin: auto;

  border-bottom-right-radius: 14px;
}

.content {
  min-height: 80vh;
  background-color: orange;
  border-radius: 20px;
}

.footer-title {
  background-color: aliceblue;
  width: 20%;
  margin: auto;
}

